name: "OWASP ZAP DAST"

on:
  push:
    branches: ["main"]

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Start ZAP Baseline Scan
      uses: zaproxy/action-baseline@v0.6.0
      with:
        target: 'http://localhost:3000'  # ici tu mets l'URL de ton API
